llama-index-core>=0.10.0
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-chroma
arxiv
PyMuPDF
python-dotenv
chromadb
tqdm
tiktoken
streamlit
pysqlite3-binary>=0.4.7; python_version < "3.13"
pyyaml>=6.0

# sqlite3
# pysqlite3-binary
